services:
  wp:
    image: wordpress:php8.5-fpm-alpine
    container_name: wp_app
    volumes:
      - ./config/php_upload.ini:/usr/local/etc/php/conf.d/uploads.ini
      - ./config/php_opcache.ini:/usr/local/etc/php/conf.d/opcache.ini
      - ${DATA_PATH:-./data}/wordpress/wp-app:/var/www/html
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_NAME: ${DB_NAME}
      WORDPRESS_DB_USER: ${DB_USER}
      WORDPRESS_DB_PASSWORD: ${DB_PASSWORD}
      WORDPRESS_CONFIG_EXTRA: |
        define('WP_CACHE', true);
        define('WP_REDIS_HOST', 'redis');
        define('WP_REDIS_PORT', 6379);
        define('WP_REDIS_TIMEOUT', 1);
        define('WP_REDIS_READ_TIMEOUT', 1);
        define('WP_REDIS_DATABASE', 0);
        define('WP_REDIS_SELECTIVE_FLUSH', true);
    depends_on:
      - db
      - redis
    restart: always
    networks:
      wordpress_network:

  wpcli:
    image: wordpress:cli
    container_name: wp_cli
    volumes:
      - ./scripts/wpcli_init.sh:/usr/local/bin/wpcli_init.sh
      - ${DATA_PATH:-./data}/wordpress/wp-app:/var/www/html
    entrypoint: ["/bin/sh", "/usr/local/bin/wpcli_init.sh"]
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_NAME: ${DB_NAME}
      WORDPRESS_DB_USER: ${DB_USER}
      WORDPRESS_DB_PASSWORD: ${DB_PASSWORD}
      WORDPRESS_CONFIG_EXTRA: |
        define('WP_REDIS_HOST', 'redis');
    depends_on:
      - db
      - wp
      - redis
    networks:
      wordpress_network:

  db:
    image: mariadb:latest
    container_name: wp_db
    command: [
        '--character-set-server=utf8mb4',
        '--collation-server=utf8mb4_unicode_ci'
    ]
    volumes:
      - ./config/mariadb.cnf:/etc/mysql/conf.d/mariadb.cnf
      - ${DATA_PATH:-./data}/wordpress/backup:/docker-entrypoint-initdb.d
      - ${DATA_PATH:-./data}/wordpress/mariadb:/var/lib/mysql
    environment:
      TZ: Asia/Shanghai
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MARIADB_DATABASE: ${DB_NAME}
      MARIADB_USER: ${DB_USER}
      MARIADB_PASSWORD: ${DB_PASSWORD}
    restart: always
    networks:
      wordpress_network:

  web:
    image: nginx:alpine
    container_name: wp_nginx
    ports:
      - ${PORT:-8080}:80
    volumes:
      - ./config/nginx.conf:/etc/nginx/conf.d/default.conf
      - ${DATA_PATH:-./data}/wordpress/wp-app:/var/www/html:ro
      - ${DATA_PATH:-./data}/wordpress/logs/nginx:/var/log/nginx
    depends_on:
      - wp
    networks:
      wordpress_network:
    restart: always

  redis:
    image: redis:alpine
    container_name: wp_redis
    volumes:
      - ./config/redis.conf:/usr/local/etc/redis/redis.conf
      - ${DATA_PATH:-./data}/wordpress/redis:/data
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
    networks:
      wordpress_network:
    restart: always

networks:
  wordpress_network:
    name: wordpress-network
    driver: bridge
